*.class

bin/
target/
.settings/
ifds-exercise/.classpath
ifds-exercise/.project
ifds-solution/.classpath
ifds-solution/.project
ide-exercise/.classpath
ide-exercise/.project
.cache-main
.cache-tests
